/*BODY*/
Body{
    
    background-color: #184A7E;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0.22 -51.98L65.17 -14.48L65.17 60.52L0.22 98.02L-64.73 60.52L-64.73 -14.48zM0.22 398.02L65.17 435.52L65.17 510.52L0.22 548.02L-64.73 510.52L-64.73 435.52zM65.17 510.52L130.13 548.02L130.13 623.02L65.17 660.52L0.22 623.02L0.22 548.02zM195.08 60.52L260.04 98.02L260.04 173.02L195.08 210.52L130.13 173.02L130.13 98.02zM130.13 173.02L195.08 210.52L195.08 285.52L130.13 323.02L65.17 285.52L65.17 210.52zM195.08 510.52L260.04 548.02L260.04 623.02L195.08 660.52L130.13 623.02L130.13 548.02zM260.04 173.02L324.99 210.52L324.99 285.52L260.04 323.02L195.08 285.52L195.08 210.52zM389.94 -51.98L454.9 -14.48L454.9 60.52L389.94 98.02L324.99 60.52L324.99 -14.48zM389.94 173.02L454.9 210.52L454.9 285.52L389.94 323.02L324.99 285.52L324.99 210.52zM454.9 285.52L519.85 323.02L519.85 398.02L454.9 435.52L389.94 398.02L389.94 323.02zM584.8 60.52L649.76 98.02L649.76 173.02L584.8 210.52L519.85 173.02L519.85 98.02zM649.76 -51.98L714.71 -14.48L714.71 60.52L649.76 98.02L584.8 60.52L584.8 -14.48zM714.71 60.52L779.67 98.02L779.67 173.02L714.71 210.52L649.76 173.02L649.76 98.02zM844.62 60.52L909.57 98.02L909.57 173.02L844.62 210.52L779.66 173.02L779.66 98.02zM844.62 510.52L909.57 548.02L909.57 623.02L844.62 660.52L779.66 623.02L779.66 548.02zM909.57 398.02L974.53 435.52L974.53 510.52L909.57 548.02L844.62 510.52L844.62 435.52zM1104.43 285.52L1169.39 323.02L1169.39 398.02L1104.43 435.52L1039.48 398.02L1039.48 323.02zM1104.43 510.52L1169.39 548.02L1169.39 623.02L1104.43 660.52L1039.48 623.02L1039.48 548.02zM1234.34 285.52L1299.29 323.02L1299.29 398.02L1234.34 435.52L1169.39 398.02L1169.39 323.02zM1169.39 398.02L1234.34 435.52L1234.34 510.52L1169.39 548.02L1104.43 510.52L1104.43 435.52zM1299.3 398.02L1364.25 435.52L1364.25 510.52L1299.3 548.02L1234.34 510.52L1234.34 435.52zM1364.25 510.52L1429.2 548.02L1429.2 623.02L1364.25 660.52L1299.3 623.02L1299.3 548.02z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M-7.28 -51.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM57.67 -14.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM57.67 60.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-7.28 98.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-72.23 60.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-72.23 -14.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-7.28 398.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM57.67 435.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM57.67 510.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-7.28 548.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-72.23 510.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-72.23 435.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM122.63 548.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM122.63 623.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM57.67 660.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-7.28 623.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM187.58 60.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM252.54 98.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM252.54 173.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM187.58 210.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM122.63 173.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM122.63 98.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM187.58 285.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM122.63 323.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM57.67 285.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM57.67 210.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM187.58 510.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM252.54 548.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM252.54 623.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM187.58 660.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM317.49 210.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM317.49 285.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM252.54 323.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM382.44 -51.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM447.4 -14.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM447.4 60.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM382.44 98.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM317.49 60.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM317.49 -14.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM382.44 173.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM447.4 210.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM447.4 285.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM382.44 323.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM512.35 323.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM512.35 398.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM447.4 435.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM382.44 398.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM577.3 60.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM642.26 98.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM642.26 173.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM577.3 210.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM512.35 173.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM512.35 98.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM642.26 -51.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM707.21 -14.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM707.21 60.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM577.3 -14.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM772.17 98.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM772.17 173.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM707.21 210.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM837.12 60.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM902.07 98.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM902.07 173.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM837.12 210.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM772.16 173.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM772.16 98.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM837.12 510.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM902.07 548.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM902.07 623.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM837.12 660.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM772.16 623.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM772.16 548.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM902.07 398.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM967.03 435.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM967.03 510.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM837.12 435.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1096.93 285.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1161.89 323.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1161.89 398.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1096.93 435.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1031.98 398.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1031.98 323.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1096.93 510.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1161.89 548.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1161.89 623.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1096.93 660.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1031.98 623.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1031.98 548.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1226.84 285.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1291.79 323.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1291.79 398.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1226.84 435.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1226.84 510.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1291.8 398.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1356.75 435.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1356.75 510.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1291.8 548.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1421.7 548.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1421.7 623.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1356.75 660.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1291.8 623.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M56.06 187.89L99.37 212.89L99.37 262.89L56.06 287.89L12.76 262.89L12.76 212.89zM12.76 412.89L56.06 437.89L56.06 487.89L12.76 512.89L-30.54 487.89L-30.54 437.89zM56.06 487.89L99.37 512.89L99.37 562.89L56.06 587.89L12.76 562.89L12.76 512.89zM142.67 37.89L185.97 62.89L185.97 112.89L142.67 137.89L99.37 112.89L99.37 62.89zM142.67 187.89L185.97 212.89L185.97 262.89L142.67 287.89L99.37 262.89L99.37 212.89zM99.37 412.89L142.67 437.89L142.67 487.89L99.37 512.89L56.06 487.89L56.06 437.89zM142.67 487.89L185.97 512.89L185.97 562.89L142.67 587.89L99.37 562.89L99.37 512.89zM315.88 187.89L359.18 212.89L359.18 262.89L315.88 287.89L272.57 262.89L272.57 212.89zM489.09 37.89L532.39 62.89L532.39 112.89L489.09 137.89L445.79 112.89L445.79 62.89zM662.3 187.89L705.6 212.89L705.6 262.89L662.3 287.89L619 262.89L619 212.89zM662.3 487.89L705.6 512.89L705.6 562.89L662.3 587.89L619 562.89L619 512.89zM748.9 187.89L792.21 212.89L792.21 262.89L748.9 287.89L705.6 262.89L705.6 212.89zM835.51 187.89L878.81 212.89L878.81 262.89L835.51 287.89L792.21 262.89L792.21 212.89zM878.81 112.89L922.11 137.89L922.11 187.89L878.81 212.89L835.51 187.89L835.51 137.89zM1008.72 487.89L1052.02 512.89L1052.02 562.89L1008.72 587.89L965.42 562.89L965.42 512.89zM1052.02 -37.11L1095.32 -12.11L1095.32 37.89L1052.02 62.89L1008.72 37.89L1008.72 -12.11zM1052.02 262.89L1095.32 287.89L1095.32 337.89L1052.02 362.89L1008.72 337.89L1008.72 287.89zM1052.02 412.89L1095.32 437.89L1095.32 487.89L1052.02 512.89L1008.72 487.89L1008.72 437.89zM1138.63 112.89L1181.93 137.89L1181.93 187.89L1138.63 212.89L1095.32 187.89L1095.32 137.89zM1138.63 412.89L1181.93 437.89L1181.93 487.89L1138.63 512.89L1095.32 487.89L1095.32 437.89zM1225.23 112.89L1268.53 137.89L1268.53 187.89L1225.23 212.89L1181.93 187.89L1181.93 137.89zM1355.14 37.89L1398.44 62.89L1398.44 112.89L1355.14 137.89L1311.84 112.89L1311.84 62.89zM1398.44 112.89L1441.74 137.89L1441.74 187.89L1398.44 212.89L1355.14 187.89L1355.14 137.89zM1441.74 187.89L1485.05 212.89L1485.05 262.89L1441.74 287.89L1398.44 262.89L1398.44 212.89zM1441.74 487.89L1485.05 512.89L1485.05 562.89L1441.74 587.89L1398.44 562.89L1398.44 512.89z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
/*SubTexto Y diseño*/
.SubText{
    display: flex;
    font-family: sans-serif;
    color: #FFFF;
    transform: translate(540px);
}
.DiseñoSubText{
    display: flex;
    background-color: #184A7E;
    border-radius: 15px; 
    margin: 20px;
}
/*END SubTexto*/

/*DISEñO IMAGEN*/
.img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    transform: translate(590px);
}
/*END IMAGEN*/ 

.DiseñoLetra{
    color:#FFFF;
    font-family: sans-serif;
    font-size: 20px;
    transform: translate(600px);
}

/*Diseño de Nombre y apellido*/
.Name{
    transform: translate(70px);
}
.LastName{
    transform: translate(70px);
}
#Parrafo-Name-LastName{
    transform: translate(90px);
}
/*END Diseño Nombre y apellido*/

/*Diseño de telefono*/
.Cell{
    transform: translate(70px);
}
#Parrafos-Cell{
    transform: translate(60px);
}
/*END Diseño de telefono*/

/*Diseño Direccion*/
.Direction{
    transform: translate(70px);
}
#Parrafo-Direccion{
    transform: translate(10px);
}
/*END Direccion*/

/*Diseño de Email*/
.Email{
    transform: translate(20px);
}
#Parrafo-Email{
    transform: translate(10px);
}
/*END diseño Email*/

/*Diseño de Hobbies*/
.Hobbies{
    color: #FFFF;
    font-family: sans-serif;
    font-size: 20px;
    transform: translate(690px)
}
.Hobbies-Parrafo{
    color: #FFFF;
    margin: 20px;
    padding: 10px;
    font-family: sans-serif;
}
/*END Hobbies*/

/*VIDEO*/
video{
    width: 500px;
    height: 500px;
    transform: translate(480px);
}
/*END VIDEO*/

/*PIE DE PAGINA*/
footer{
    display: block;
    padding: 20px;
    background-color: black;
}
a:link, a:visited { text-decoration: none; }
.LogoInstagram{ 
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    transform: translate(650px);
}
.LogoLinkedin{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    transform: translate(650px);
}
/*END PIE DE PAGINA*/
